#topmenu {
    height: 150px;

}

#topmenu ul li {
    float: left;
    background: yellowgreen;

}

#search-front-logo {

}

#searchbar {
    width: 600px;
    height: 90px;
    border: 1px grey solid;
    border-radius: 90px;

}

#searchbar :hover {
    box-shadow: 3px 3px 3px 3px darkgrey;
}

#searchbutton {
    width: 170px;
    height: 60px;
    background: grey;
}

#footerlinks {
    background: grey;
    margin-bottom: 0px;
    
}

#signinbutton {
    background: #4285f4;
    width: 60px;
    height: 40px;
    color:white;
    
}

/*  ref 
#4285f4 blue button
search box shadow, button borders light grey
*/

